.hero {
  text-align: center;
  transition: all 0.3s ease;
}

.hero video {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.welcome,
.popup,
.catering {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  transition: all 0.3s ease;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  transition: all 0.3s ease;
}

.headline {
  flex-direction: column;
  text-align: center;
}

.welcome img,
.popup img,
.catering img,
.about img {
  width: 50%;
  height: auto;
  transition: all 0.3s ease;
}

.quote {
  text-align: center;
  font-size: 1.5rem;
  padding: 50px 20px;
  transition: all 0.3s ease;
  color: #6a5b4c;
  font-style: italic;
}

.quote span {
  font-size: 1rem;
}

.catering {
  background-color: #dbbc9f;
  color: #9c856f;
}

.popup {
  background-color: #ca5b5b;
  color: #315ad8;
}

.about h2 {
  color: #ca5b5b;
}

.about img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.welcome-text {
  color: brown;
  transition: all 0.3s ease;
}

.about .info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.about .info div {
  width: 48%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .welcome img,
  .popup img,
  .catering img,
  .about img {
    width: 100%;
  }

  .welcome,
  .popup,
  .catering,
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about .info {
    flex-direction: column;
    align-items: center;
  }

  .about .info div {
    width: 100%;
    margin: 20px 0;
  }

  .welcome,
  .popup,
  .catering,
  .about {
    flex-direction: column;
    text-align: center;
  }

  .welcome img,
  .popup img,
  .catering img,
  .about img {
    width: 100%;
    margin: 20px 0;
  }

  .about .info {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .about .info div {
    margin: 20px 0;
  }
}
